<mat-tab-group mat-align-tabs="center" color="accent">

    <mat-tab label="Angular">
        <div class="gallery">
            <div *ngFor="let data of portfolioData">
                <div class="project" *ngIf="data.angular">
                    <mat-card class="card">
                        <mat-card-header>
                            <div mat-card-avatar class="header-image"></div>
                            <mat-card-title>{{data.title}}</mat-card-title>
                            <mat-card-subtitle>{{data.subtitle}}</mat-card-subtitle>
                        </mat-card-header>
                        <div class="background {{data.backGroundImage}}">
                            <a href="{{data.href}}">
                                <button *ngIf="data.playNow" mat-raised-button color="basic">
                                Play now!
                                </button>
                            </a>
                        </div>
                    </mat-card>
                    <mat-accordion>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Read more.
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>{{data.p}}</p>
                            <a href="{{data.git}}">Github</a>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="JavaScript">
        <div class="gallery">
            <div *ngFor="let data of portfolioData">
                <div class="project" *ngIf="data.javaScript">
                    <mat-card class="card">
                        <mat-card-header>
                            <div mat-card-avatar class="header-image jsLogo"></div>
                            <mat-card-title>{{data.title}}</mat-card-title>
                            <mat-card-subtitle>{{data.subtitle}}</mat-card-subtitle>
                        </mat-card-header>
                        <div class="background {{data.backGroundImage}}">
                            <a href="{{data.href}}">
                                <button *ngIf="data.playNow" mat-raised-button color="basic">
                                Play now!
                                </button>
                            </a>
                        </div>
                    </mat-card>
                    <mat-accordion>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Read more.
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>{{data.p}}</p>
                            <a href="{{data.git}}">Github</a>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="API">

        Comming Soon!

    </mat-tab>
</mat-tab-group>