<div class="container" [class.is-mobile]="mobileQuery.matches">

    <mat-toolbar class="toolbar">
        <div>
            <button mat-icon-button color="accent" (click)="snav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <div class="section-name-container">
            <h1 class="section-name">Home</h1>
        </div>
        <div class="logo-container">
            <img src="../../../../assets/images/logoOwn.png" class="logo">
        </div>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 32 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'push'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="32">
            <mat-nav-list class="navList">

                <a mat-list-item routerLink="./">
                    <mat-icon class="navIcon">home</mat-icon>
                    <span>Home</span>
                </a>

                <a mat-list-item routerLink="./portfolio">
                    <mat-icon class="navIcon">web</mat-icon>
                    <span>Portfolio</span>
                </a>

                <a mat-list-item routerLink=".">
                    <mat-icon class="navIcon">contact_page</mat-icon>
                    <span>Resume</span>
                </a>

                <a mat-list-item routerLink=".">
                    <mat-icon class="navIcon">person_add</mat-icon>
                    <span>Contact me</span>
                </a>

                <a mat-list-item routerLink="." class="lastChild">
                    <mat-icon class="navIcon">person_search</mat-icon>
                    <span>About me</span>
                </a>

            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>