<footer>
    <div class="phrase bold_blue">
        <p>"I consistently strive to improve my performance."</p>
    </div>
    <div class="socialMediaContainer">

        <a class="touch-area" href="https://www.linkedin.com/in/%C3%A1tila-oliveira-jr-60869319a/">
            <img class="socialMedia" src="../../../../assets/images/linkedin.png">
        </a>

        <a class="touch-area" href="https://github.com/atilaoliveirajr">
            <img class="socialMedia" src="../../../../assets/images/github.png">
        </a>

    </div>

    <div class="legal-requirements">

        <p>
            <a class="link"> <span data-content="Imprint" routerLink="./imprint">Imprint</span></a>
        </p>

        <p>
            <a class="link"> <span data-content="Data Protection" routerLink="./dataprotection">Data Protection</span></a>
        </p>

    </div>

    <p class="CR">© 2021 Átila Gonçalves Oliveira Júnior</p>








</footer>