footer {
    height: 230px;
    padding-bottom: 20px;
    p {
        text-align: center;
    }
    .phrase {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        padding: 30px;
        padding-bottom: 10px;
        p {
            margin: 0px;
            text-align: center;
            line-height: normal;
        }
    }
    .socialMediaContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        .touch-area {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            margin: 20px;
            .socialMedia {
                width: 40px;
                margin: 30px;
                padding: 0px;
                filter: invert(1);
                &:hover {
                    animation: shake 0.5s cubic-bezier(0.4, 0.08, 0.2, 1);
                    transform: translate3d(0, 0, 0);
                    backface-visibility: hidden;
                    perspective: 900px;
                }
            }
        }
    }
    .legal-requirements {
        display: flex;
        justify-content: center;
        align-content: center;
        p {
            padding-bottom: 20px;
            width: 100px;
            a {
                text-decoration: none;
                position: relative;
                transition: clip-path 275ms ease;
                cursor: pointer;
                &:hover span::before,
                &:focus span::before {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
                span {
                    position: relative;
                    display: inline-block;
                    color: white;
                    &::before {
                        position: absolute;
                        content: attr(data-content);
                        color: #45A29E;
                        clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
                        transition: clip-path 275ms ease;
                    }
                }
            }
        }
    }
    .CR {
        padding-bottom: 20px;
    }
}

@media (max-width: 700px) {
    .socialMedia {
        width: 50px;
        padding: 10px;
    }
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    30%,
    70% {
        transform: translate3d(2px, 0, 0);
    }
    40%,
    50% {
        transform: translate3d(-2px, 0, 0);
    }
}