<body>
    <div class="first-section">

        <div class="presentation-wrapper">
            <img class="photo" src="../../../assets/images/0.jpg">

            <p class="presentation-text">
                "I was trained to <span class="bold_blue">solve problems and overcome challenges</span>, and I strongly enjoy it. As a <span class="bold_blue">Frontend-Developer</span> I can make people's life easier."
            </p>
        </div>

        <div class="skills-section">
            <div class="skill-bar-container">
                <div class="skill-bar-progress" style="width: 85%;">
                    <div class="skill-name">
                        <span>JavaScript</span>
                    </div>
                </div>
            </div>
            <div class="skill-bar-container">
                <div class="skill-bar-progress" style="width: 85%;">
                    <div class="skill-name">
                        <span>Agnular</span>
                    </div>
                </div>
            </div>
            <div class="skill-bar-container">
                <div class="skill-bar-progress" style="width: 85%;">
                    <div class="skill-name">
                        <span>SCSS/HTML</span>
                    </div>
                </div>
            </div>
            <div class="skill-bar-container">
                <div class="skill-bar-progress" style="width: 60%;">
                    <div class="skill-name">
                        <span>GIT</span>
                    </div>
                </div>
            </div>
            <div class="skill-bar-container">
                <div class="skill-bar-progress" style="width: 40%;">
                    <div class="skill-name">
                        <span>Bootstrap</span>
                    </div>
                </div>
            </div>
            <div class="skill-bar-container">
                <div class="skill-bar-progress" style="width: 50%;">
                    <div class="skill-name">
                        <span>Java</span>
                    </div>
                </div>
            </div>
            <div class="skill-bar-container">
                <div class="skill-bar-progress" style="width: 40%;">
                    <div class="skill-name">
                        <span>Springboot</span>
                    </div>
                </div>
            </div>
            <div class="skill-bar-container">
                <div class="skill-bar-progress" style="width: 40%;">
                    <div class="skill-name">
                        <span>MySQL</span>
                    </div>
                </div>
            </div>
        </div>




    </div>

    <div class="second-section">
        <div class="label-wrap">
            <div class="label">
                <div class="hexagon-container">
                    <div class="hexagon">
                        <mat-icon>engineering</mat-icon>
                    </div>
                </div>
                <h2>label.labelName</h2>
                <p>label.labelDescr</p>
            </div>
        </div>
        <div class="label-wrap">
            <div class="label">
                <div class="hexagon-container">
                    <div class="hexagon">
                        <mat-icon>favorite</mat-icon>
                    </div>
                </div>
                <h2>label.labelName</h2>
                <p>label.labelDescr</p>
            </div>
        </div>
        <div class="label-wrap">
            <div class="label">
                <div class="hexagon-container">
                    <div class="hexagon">
                        <mat-icon>devices</mat-icon>
                    </div>
                </div>
                <h2>label.labelName</h2>
                <p>label.labelDescr</p>
            </div>
        </div>
        <div class="label-wrap">
            <div class="label">
                <div class="hexagon-container">
                    <div class="hexagon">
                        <mat-icon>airplanemode_active</mat-icon>
                    </div>
                </div>
                <h2>label.labelName</h2>
                <p>label.labelDescr</p>
            </div>
        </div>
    </div>

</body>